# Nixpacks configuration for EasyPanel
[phases.setup]
nixPkgs = ["nodePackages.npm", "nodejs"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"
